
@{
    ViewData["Title"] = "DisplayFavorite";
}
@model List<Favorite>
<h1 class="text-center">Your Favorites</h1>

<table class="table">
    <tr>
        <th class="sticky-top" scope="col" style="background-color:blueviolet">Event Name</th>
        <th class="sticky-top" scope="col" style="background-color:blueviolet">Event Date</th>
        <th class="sticky-top" scope="col" style="background-color:blueviolet">Venue Name</th>
        <th class="sticky-top" scope="col" style="background-color:blueviolet">Venue Address</th>
        <th class="sticky-top" scope="col" style="background-color:blueviolet">Event URL</th>
        <th class="sticky-top" scope="col" style="background-color:blueviolet">Remove Favorite</th>
    </tr>
    @foreach (var favorite in Model)
    {
<tr>
    <td>@favorite.EventName</td>
    <td>@favorite.StartDate</td>
    <td>@favorite.VenueName</td>
    <td>@favorite.VenueAddress</td>
    @if (favorite.EventUrl != null)
    {
        <td><a href="@favorite.EventUrl">Visit event link</a></td>

    }
    else
    {
       <td>Unavailable</td>
    }
    <td>
        <a class="btn" href="../Home/RemoveFavoriteEvent?id=@favorite.Id"><span class="glyphicon">&times;</span><br /></a>
    </td>
</tr>
    }
</table>
